#wrapper p{
	padding:300px 0;
	text-align:center;
}

h1,h2,h3{
	color: #ffffff;
}
/*========= waveを描画するエリア設定 ===============*/


.wave{
	position: relative;
}

.wave canvas{
    position: absolute;
    top: 0;
	left:0;
    width: 100%;
}


/*背景のグレードーション*/
body {
background-color: #262755;
}


